In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt



dataset = pd.read_csv('./LD_MT200_hour.csv', sep=';', header=0,
                      low_memory=False, infer_datetime_format=True, engine='c',
                      parse_dates={'date':[0]}, index_col=['date'])

dataset.shape
dataset.head(10)

Empty DataFrame
Columns: []
Index: [2014/1/1,2910,1842,1819,15441,1655,11481,1, 2014/1/1,2853,1808,1797,15123,1586,11415,2, 2014/1/1,2816,1795,1765,15001,1555,11363,3, 2014/1/1,2810,1789,1754,15001,1532,11436,4, 2014/1/1,2829,1799,1766,15034,1526,11614,5, 2014/1/1,2854,1838,1797,15177,1551,11960,6, 2014/1/1,2953,1878,1847,15524,1552,12334,7, 2014/1/1,3030,1880,1890,15900,1588,12508,8, 2014/1/1,3024,1918,1888,15983,1602,12559,9, 2014/1/1,3032,1856,1929,16015,1636,12322,10]

In [13]:
# #缺失值
# dataset.isna().sum()
#  
# #查看异常值
# dataset.iloc[dataset.values == "*"].count()
#  
# #默认标记异常值处理
# #异常值用 np.nan替换，将数据作为一个浮点值数组来处理。
# dataset.replace("*", np.nan, inplace=True)
#  
# #查看异常值
# dataset.iloc[dataset.values == "*"].count()
#  
# #查看缺失值：
# dataset.isna().sum()

In [15]:
def plot_features(dataset):
    for i in range(len(dataset.columns)):
        plt.subplot(len(dataset.columns), 1, i+1)
        feature_name = dataset.columns[i]
        plt.plot(dataset[feature_name])
        plt.title(feature_name, y=0)
        plt.grid(linestyle='--', alpha=0.5)
    
    plt.tight_layout()
    plt.show()
    
plot_features(dataset)